@model Lab1.Models.Auto
@{
    ViewBag.Title = "Auto";
}

    <div class="row">
        <h5 class="col-3 mt-5">@Model.Manufacturer @Model.AutoModel</h5>
        <p class="col-9 mt-5">@Model.Price грн.</p>
        <img src="~/File/@Model.File" class="col-6 mt-5 mb-5" width="500" height="500" />
        <div class="mt-5 col-5">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="Desc-tab" data-bs-toggle="tab" data-bs-target="#Desc" type="button" role="tab" aria-controls="Desc" aria-selected="true">Опис</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Options-tab" data-bs-toggle="tab" data-bs-target="#Options" type="button" role="tab" aria-controls="Options" aria-selected="false">Опції</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Comp-tab" data-bs-toggle="tab" data-bs-target="#Comp" type="button" role="tab" aria-controls="Comp" aria-selected="false">Комплектіція</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Char-tab" data-bs-toggle="tab" data-bs-target="#Char" type="button" role="tab" aria-controls="Char" aria-selected="false">Характеристики</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active"  id="Desc" role="tabpanel" aria-labelledby="Desc-tab">@Model.Description</div>
                <div class="tab-pane fade" id="Options" role="tabpanel" aria-labelledby="Options-tab">@Model.Options</div>
                <div class="tab-pane fade" id="Comp" role="tabpanel" aria-labelledby="Comp-tab">@Model.Complection</div>
                <div class="tab-pane fade" id="Char" role="tabpanel" aria-labelledby="Char-tab">@Model.Characteristic</div>
            </div>
        </div>
      
    </div>

