<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .card {
            box-shadow: 4px 8px 4px rgba(0,0,0, 0.2);
        }

        .card {
            box-shadow: 4px 8px 4px rgba(0,0,0, 0.2);
            transition-duration: 1s, .5s, 1s;
        }

            .card:hover {
                transform: scale(1.1);
            }

        .mr-auto {
            margin-right: auto;
        }

        .ml-auto {
            margin-left: auto;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="~/Home/">Labs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Lab4">Lab4</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Lab5">Lab5</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Lab6">Lab6</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Lab7">Lab7</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/jquery-3.6.0.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @RenderSection("scripts", required: false)

</body>
</html>
